<div class="main-container">
  <div class="navbar-container">Lumix Project <span class="navbar-sub-title">Movies</span></div>
  <div class="body-container">
    <div class="search-container">
      <mat-form-field class="search-form-field">
        <mat-label>Search your Movie</mat-label>
        <input matInput type="text" [formControl]="inputValue" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let movie of suggestions$ | async" [value]="movie.Title">
            {{movie.Title}} ({{movie.Year}})
          </mat-option>
        </mat-autocomplete>
        <button *ngIf="inputValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()"> 
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="results-container" *ngIf="movies$ | async as movies">
      <cdk-virtual-scroll-viewport itemSize="120" class="movies-viewport" (scrolledIndexChange)="nextBatch($event)">
        <ng-container *cdkVirtualFor="let movie of movies">
          <div class="movie-line" *ngIf="movie">
            <img class="movie-poster" [src]="movie.Poster !== 'N/A' ? movie.Poster : DEFAULT_POSTER" [alt]="movie.Title">
            <span class="movie-title">{{ movie.Title }} </span>
            <span class="movie-year">({{ movie.Year }})</span>
          </div>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>